<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>
    　　<%# 編集用に部分テンプレートformを呼び出し%>
        <%= render partial: 'form' %>
    </div>
  </div>
</div>